.banner {
  color: white;
  text-align: center;
  height: calc(100vh);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner .avatar-medium {
  height: 150px;
  border-radius: 50%;
}

.skills a {
  text-decoration: none;
}
