form {
  /* Uniquement centrer le formulaire sur la page */
  margin: 0 auto;
  /* Encadré pour voir les limites du formulaire */
  padding: 40px;
  border: 1px solid #e43c52;
  border-radius: 1em;
  background-color: #e43c52;
  margin-bottom: 70px;
}



input, textarea {
  /* Pour s'assurer que tous les champs texte ont la même police.
     Par défaut, les textareas ont une police monospace */
  font: 1em sans-serif;

  /* Pour que tous les champs texte aient la même dimension */
  width: 100%;
  box-sizing: border-box;

  /* Pour harmoniser le look & feel des bordures des champs texte */
  border: 1px solid #999;
}

input:focus, textarea:focus {
  /* Pour souligner légèrement les éléments actifs */
  border-color: #000;
}

textarea {
  /* Pour aligner les champs texte multi‑ligne avec leur étiquette */
  vertical-align: top;

  /* Pour donner assez de place pour écrire du texte */
  height: 5em;
}

